import PySimpleGUI as sg

layout = [
[sg.Text('Usuário')],
[sg.Input(key='usuario')],
[sg.Text('senha')],
[sg.Input(key='senha')],
[sg.Text('',key='mensagem')],

]

window = sg.Window ('Login',layout)
while True:
    event, values = window.Read()
    if event == sg.WIN_CLOSED:
        break
